@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&family=Montserrat:wght@300;500&display=swap');
html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #2c393f;
}

#__next {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

footer {
	background-color: #2c393f;
	height: 70px;
	margin-top: auto;
	color: #ededed;
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.content-container {
	max-width: 70em;
	margin: 0px auto;
	height: auto;
	padding: 1.5rem;
}

h1 {
	font-family: 'merriweather', arial;
	text-align: center;
	font-weight: 200;
	font-size: 2rem;
}

h3 {
	margin: 8px 0px;
}

/* Forms */
.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-group {
	margin: 15px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.form-group label {
	margin-left: 15px;
	padding: 10px;
}

.form-group input {
	padding: 10px;
	border: 0;
	border-bottom: 1px solid #2c393f;
	background: #fff;
	margin-left: 15px;
	color: #2c393f;
}

.form-group input:focus {
	border: 0;
	outline: none;
	border-bottom: 1px solid #00c7c7;
}

@media (min-width: 575px) {
	.form-group {
	}
}
@media (min-width: 768px) {
	.form-group {
		margin: 15px;
		padding: 5px;
		display: flex;
		flex-direction: row;
	}
}
