body {
  padding: 0;
  background-color: #fdfcf7;
  color: #2f2b32;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
}

.green {
  color: #a7bf2e;
}
.bold {
  font-weight: 800;
}
.white {
  color: #fdfcf7;
}

.small {
  font-size: 0.8em;
}

a {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-family: "merriweather", arial;
  font-size: 4em;
  text-align: center;
}

h4 {
  margin: 0px;
  margin-top: 10px;
  font-family: "merriweather", arial;
}
p {
  margin: 0px;
  margin-top: 5px;
}

.amazing {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

h1:hover .amazing {
  opacity: 1;
}

.back-to-list {
  position: relative;
  top: 20px;
  cursor: pointer;
  border: 2px solid #a7bf2e;
  background-color: #2f2b32;
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
}

.form-group {
  width: 50%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin: 5px 0px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button {
  cursor: pointer;
  border: 2px solid #a7bf2e;
  background-color: rgba(47, 43, 50);
  padding: 12px;
  border-radius: 10px 10px 10px 10px;
  color: #a7bf2e;
  font-weight: 600;
  font-size: 1.3em;
}
.input {
  border: 2px solid #a7bf2e;
  background-color: rgba(47, 43, 50);
  padding: 10px;
  border-radius: 10px 10px 10px 10px;
  color: #a7bf2e;
}

label {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 3px;
}

@media (max-width: 992px) {
  .amazing {
    opacity: 1;
  }
}
