.title {
  line-height: 0.8;
  font-size: 4rem;
  text-align: center;
}

.restaurantsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restaurantItem {
  width: 50%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurantImg {
  position: relative;
  width: 90%;
  height: 100%;
}
@media (min-width: 544px) {
  .restaurantsContainer {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 992px) {
  .restaurantItem {
    width: 33%;
  }
}

@media (min-width: 1200px) {
  .restaurantItem {
    width: 25%;
  }
}
