.wraper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wraper figure {
	position: relative;
	width: 300px;
	height: 300px;
	margin: 0;
}

.errorMsg {
	max-width: 100%;
	color: #c70000;
	font-size: 0.7rem;
	margin: 0;
	margin-bottom: 20px;
}

@media (min-width: 575px) {
	.wraper {
		flex-direction: row;
	}
	.inverse {
		flex-direction: row-reverse;
	}
}
@media (min-width: 768px) {
}
