.navbar {
	background-color: white;
	margin: 0px 0px 15px 0px;
	position: sticky;
	top: 0;
	z-index: 2;
	box-shadow: 0px 5px 15px 5px rgba(44, 57, 67, 0.2);
	padding: 20px;
}
.navbar p {
	margin: 0px;
	display: inline;
	font-family: 'merriweather', arial;
	font-size: 2em;
}
